---
import type { CollectionEntry } from "astro:content";
import Tags from "@components/Tags.astro";
import readingTime from "reading-time";
import BlogHero from "@components/BlogHero.astro";
import path from "path";

const { title, date, imageURL, tags, content, slug, frontmatter, isTurkish } =
  Astro.props;

const time = readingTime(content);
---

<article
  class="mx-auto max-w-5xl px-1 md:px-3 lg:px-4"
  style="max-width: 100%;"
>
  <div class="-mt-12">
    <BlogHero
      title={title}
      date={date}
      slug={slug}
      content={content}
      tags={tags}
      lang={isTurkish ? "tr" : "en"}
    />
  </div>
  <div class="mt-6"></div>
  <slot />
</article>
